@include mediaTablet {
  #story {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    img {
      width: 75%;
    }
    .story {
      width: 65%;
    }
  }
}
@include mediaDesktop {
  #icons {
    display: none;
  }
  #nike-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 44px;
  }
  #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 45%;
      margin: 0;
      padding: 0;
    }
  }
  .logo-svg {
    margin: 0;
  }
}
@include mediaLaptop {
  #story {
    padding: 50px 100px 50px 100px;
  }
}
@include mediaLgLaptop {
  #story {
    padding: 50px 200px 50px 200px;
  }
}
/*
@include media4k {
  body {
    font-size: 2rem;
  }
  .hero-text {
    h1 {
      font-size: 6rem;
    }
    button {
      font-size: 1.25rem;
    }
  }
  #story img {
    width: 75%;
  }
}
*/
