@import "config.scss";
@import "navs.scss";

//Hero
#hero {
  background: url("../img/jordan-b.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 50vh;
  padding: 250px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text {
  width: 200px;
  text-transform: uppercase;
  margin-left: 5%;
  h1 {
    font-size: 4rem;
  }
  button {
    background: #000;
    width: 100%;
    border: none;
    font-size: 0.9rem;
    color: #fff;
    padding: 10px;
  }
}

//Both Featured Categories and Feautred Items
#squares,
#featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .square {
    background-size: cover;
    background-position: center;
  }
}
.title:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000;
  left: 100%;
  z-index: 5000;
  top: calc(50% - 20px);
}

#squares {
  border-bottom: 20px solid #fff;
  .lifestyle {
    background: url("../img/lifestyle.jpg");
    background-size: cover;
    background-position: center;
  }
  .soccer {
    background: url("../img/soccer.jpg");
    background-size: cover;
    background-position: center;
  }
  .basketball {
    background: url("../img/basketball.jpg");
    background-size: cover;
    background-position: center;
  }
  .training {
    background: url("../img/training.jpg");
    background-size: cover;
    background-position: center;
  }
  .running {
    background: url("../img/running.jpg");
    background-size: cover;
    background-position: center;
  }
}

#featured {
  .square:not(.title):not(.selected) {
    border: solid 1px rgb(202, 202, 202);
  }
  .square:not(.title):not(.content) {
    font-size: 0.55rem;
    color: #000;
    font-weight: 800;
  }
  .square:not(.title) .table-cell {
    vertical-align: bottom;
  }
  .free-rn {
    background: url("../img/free-rn.jpg");
    background-size: cover;
    background-position: center;
  }
  .air-max {
    background: url("../img/air-max.jpg");
    background-size: cover;
    background-position: center;
  }
  .metcon {
    background: url("../img/metcon.jpg");
    background-size: cover;
    background-position: center;
  }
  .kyrie {
    background: url("../img/kyrie.jpg");
    background-size: cover;
    background-position: center;
  }
  .vapor {
    background: url("../img/vapor.jpg");
    background-size: cover;
    background-position: center;
  }
}

.square {
  position: relative;
  width: 50%;
  padding-bottom: 50%;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    .table {
      display: table;
      height: 100%;
      width: 100%;
      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

//Featured Product
#shoe {
  background: url("../img/free-rn-description.jpg") no-repeat;
  background-position: 250px;
  background-size: 85%;
  height: 500px;
  background-color: #f5f5f5;
  display: none;
}

//The Story
#story {
  background: url("../img/basketball-bg.jpg") center;
  background-size: cover;
  color: #fff;
  padding: 50px 0;
  img {
    width: 50%;
    display: block;
    margin: 20px auto;
  }
  .story {
    padding: 20px;
  }
}

//Call to Action
#action {
  .container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    h2 {
      text-transform: uppercase;
    }
    p {
      font-size: 0.723rem;
      span {
        text-transform: uppercase;
        padding: 0 5px;
      }
    }
    form {
      input,
      button {
        width: 100%;
        height: 35px;
      }
      button {
        margin-top: 8px;
        color: #fff;
        background: #000;
        text-transform: uppercase;
        border: none;
      }
      [placeholder^="Your Email"] {
        padding-left: 10px;
      }
    }
  }
}

//Social
.social {
  background: url("../img/basketball-bg.jpg");
  background-position: center;
  .container {
    color: #fff;
  }
  ul,
  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 75%;
    margin: 0 auto;
  }
}
.social .container,
.get-started .container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}
.get-in-touch {
  background: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  ul {
    list-style: none;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    li:nth-child(2) {
      margin-left: calc(1rem + 10px);
    }
    li i {
      margin-right: 10px;
      font-size: 1rem;
    }
    li:nth-child(1) i {
      margin-right: 13px;
    }
  }
}
.get-started {
  a:link,
  a:visited {
    color: #26292d;
  }
  a {
    width: 48%;
    border: solid 1px #26292d;
    border-radius: 5%;
    padding: 4px 0;
  }
  a:not(:nth-child(6)):not(:nth-child(5)) {
    margin-bottom: 2%;
  }
  .container {
    .get-started-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

//This is for the tablet and above version of the contact info
#contact {
  display: none;
}

//Footer
footer {
  background: #000;
  height: 75px;
  display: flex;
  justify-content: center;
  align-content: center;
  img {
    width: 25%;
  }
}

@import "mobile.scss";
